.bold {
    font-family: open-sans, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
